.verify{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
}

.verify-header{
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.verify-container{
    padding: 20px;
    width: 80%;
    margin-top: 3rem;
    display: grid;
    place-items: center;
}
.verify-container p{
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;
    color: #085bda;
}
.verify-container img{
    width: 320px;
    margin-bottom: 20px;
}
.verify-container .go-to-login{
    padding: 8px 20px;
    border-radius: 8px;
    background: #085bda;
    color: #fff;
    font-weight: 500;
}

.verify-loader{
    text-align: center;
    display: grid;
    place-items: center;
    height: 80vh;
}
.invalid{
    text-align: center;
    display: grid;
    place-items: center;
    height: 80vh;
}

.verify-loader h1{
    color: #085bda;
}

.verify-error{
    width: 80vh;    
    text-align: center;
    display: grid;
    place-items: center;    
}


@media screen and (max-width: 760px){
    .verify-container p{
        font-size: 25px;
    }
    .verify-container img{
        width: 100%;
    }
}
