.main-layout{
    background: #f2f2f2;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 40px;
    position: relative;
    z-index: 200;
    margin-left: 18.4rem;
}

@media only screen and (min-width: 300px) and (max-width: 1080px){
    .layout .main-layout{
        margin-left: unset;
        border-radius: unset;
        padding: 15px;
    }
}