.Container {
    font-family: var(--primary-font);
}

.Container>section {
    padding: 0 2.5em;
}


/* styling for landing section starts */

.Landing {
    background: url("../../assets/electrician.png"), linear-gradient( 269.7deg, rgba(8, 91, 218, 0.7) 12.59%, rgba(255, 255, 255, 0.7) 109.94%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    background-blend-mode: color-dodge;
}

.Landing>div {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 2em 0;
}

.Landing>div>h1,
.Landing>div>h5 {
    font-weight: 700;
}

.Landing>div>h5 {
    font-size: 18px;
}

.Landing>div>h1 {
    font-size: 45px;
}

.Landing>div>ul {
    font-size: 20px;
    font-weight: 400;
}

.Landing>div>button {
    border: none;
    outline: none;
    background: #085bda;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 1em;
    padding: 19px 20px;
    width: 100%;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: calc(0% + 25px);
    width: calc(0% + 265px);
    height: 5px;
    background: #085bda;
}

.underline {
    position: relative;
    padding: 1em 0;
}


/* styling for landing section ends */


/* styling for project section start */

.projects>h2 {
    text-align: center;
    padding: 1em 0;
}

.projects>div:nth-of-type(1),
.projects>div:nth-of-type(2)>div {
    margin-bottom: 2em;
}

.projects>div:nth-of-type(2)>h3 {
    text-align: center;
    padding-top: 1em;
}

.projects>div>article>img {
    width: 100%;
}


/* styling for project section ends */


/* responsiveness */

@media (max-width: 650px) {
    .Landing {
        height: max-content;
    }
    .Landing>div {
        width: 100%;
    }
    .Landing>div>button {
        border: none;
        outline: none;
        background: #085bda;
        border-radius: 5px;
        font-weight: 700;
        font-size: 18px;
        color: white;
        text-transform: uppercase;
        margin-top: 1em;
        padding: 1em;
        width: 100% !important;
    }
}