.layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

.FullLayout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
    height: 100vh;
}

.sectionLayout {
    border-radius: 40px 0 0 40px;
    position: relative;
    background: #F8F8F8;
    padding: 1em 0;
    font-family: var(--primary-font);
}