.reset-wrapper{    
    display: grid;
    place-items: center;
    height: 100vh;
}

.reset-wrapper .reset-card{
    width: 40%;
    padding: 30px;
    margin-top: 3rem;
    border-radius: 12px;
}

.reset-card .reset-card-header{
    text-align: center;
}
.reset-card-header h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}
.reset-card-header h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.reset-card-form{
    padding: 20px;
    margin-top: 2rem;
}
.reset-card-form .reset-input{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.reset-card-form .reset-input label{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.reset-card-form .reset-input input{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid gray;
}

.reset-card-form .reset-btn{
    text-align: center;
    margin-top: 20px;
}
.reset-btn button{
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    background: #085BDA;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}


@media screen and (min-width: 200px) and (max-width: 1036px){
    .reset-wrapper .reset-card{
        width: 90%;
    }
    .reset-card-header h1{
        font-size: 25px;
    }
    .reset-card-header h3{
        font-size: 16px;       
    }
    .reset-btn button{
        font-size: 18px;
    }
}