.header {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 1200;
}

.header .container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

.header .header-left {
    display: flex;
    align-items: center;
}

.header .header-left .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background: #fff;
    width: 100%;
    padding: 20px;
    z-index: 1300;
}

.header .header-left .mobile-menu .mobile-menu-item {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.header .header-left .mobile-menu a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.header .header-left .mobile-menu button {
    background: #085BDA;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 18px 20px;
    width: 100%;
}

.header .header-left .menu {
    display: flex;
    gap: 20px;
}

.header .header-left .menu .menu-item {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #000;
}

.header .header-left .menu .menu-item:hover {
    color: #085BDA;
}

.header .header-right {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
}

.header .header-right a {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.header .header-right button {
    background: #085BDA;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 18px 20px;
    width: 100%;
}

.header .header-right button:active,
.header .header-right button:hover {
    opacity: .7;
}

.header .header-right .menu-icon {
    cursor: pointer;
}

.hire-modal-overlay {
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.hire-modal-overlay .pop .close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-bottom: 2rem;
}

.hire-modal-overlay .pop {
    background: whitesmoke;
    padding: 40px;
    width: 26%;
    overflow-y: scroll;
}

.hire-modal-overlay .hire-tech {
    margin-top: 6rem;
}

.pop h1 {
    font-size: 20px;
    color: #085BDA;
}

.pop a {
    text-decoration: none;
    color: #000;
}

.tech-wrapper {
    display: flex;
    flex-direction: column;
}

.tech-item {
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    color: #000;
}

.tech-item:hover {
    color: #085BDA;
}

.pop .hire-btn {
    width: 100%;
    position: relative;
}

.pop .hire-btn span {
    background: #085BDA;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    padding: 20px 70px;
    cursor: pointer;
}

.pop .team {
    margin-top: 4rem;
}

.pop .about {
    margin-top: 3rem;
}

.mobile-menu-icon {
    display: none;
}

@media screen and (min-width: 300px) and (max-width: 1080px) {
    .header .header-left .menu {
        font-size: 14px;
        display: none;
    }
    .header .header-right .img-container,
    .header .header-right button,
    .header .header-right .auth-link {
        display: none;
    }
    .hire-modal-overlay .pop {
        width: auto;
    }
}

@media screen and (max-width: 760px) {
    .menu-icon {
        display: none;
    }
    .mobile-menu-icon {
        display: flex;
    }
}

@media screen and (min-width: 1087px) {
    .hire-modal-overlay .pop {
        width: 34%;
    }
}