.container {
    font-family: var(--primary-font);
    background: rgba(37, 77, 154, 0.6);
    background-blend-mode: screen;
    color: white;
    padding: .5em 3em;
    font-size: 16px;
    height: 100vh;
    font-family: var(--primary-font);
}

.container>div {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    column-gap: 2em;
    height: 100vh;
}

.container>div>article:first-child>h2 {
    font-weight: 700;
    font-size: 51px;
    padding-bottom: .6em;
}

.container>div>article:nth-of-type(2)>input {
    background: #F8F8F8;
    border-radius: 10px;
    height: 69px;
    width: 100%;
    background-image: url('../../../assets/LoginHomePageImages/search.png');
    background-position: center right;
    background-repeat: no-repeat;
    padding: 0 1em;
    background-origin: content-box;
    border: none;
    margin-bottom: .6em;
}

.container>div>article:last-child {
    text-align: right;
}

.flex {
    display: flex;
    gap: 1em;
    align-items: center;
}

.flex>button {
    border: none;
    outline: none;
    background: #085BDA;
    border-radius: 5px;
    font-weight: 700;
    font-size: 9px;
    color: white;
    text-transform: uppercase;
    margin-top: 1em;
    width: 307px;
    height: 61px;
}

.flex>p {
    font-size: 12px
}

@media (max-width:500px) {
    .container {
        height: max-content;
        padding: .5em 1.5em;
    }
    .container>div {
        display: grid;
        grid-template-columns: 100%;
        height: max-content;
    }
}