.trustedCon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    background: #1C1C1C;
    height: 556px;
    color: #FFFFFF;
    align-items: center;
    margin: 0 3em;
    padding: .8em 2em;
    font-family: var(--tertiary-font);
    row-gap: 3em;
}

.trustedCon>div>h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 33px;
}

.trustedCon>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    row-gap: 2em;
    column-gap: 2em;
}

.trustedCon>div>article>img {
    width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 1080px){
    .trustedCon {
        height: max-content;
        margin: 0 1em;
        padding: 2em 1em;
        font-family: var(--tertiary-font);
    }
    .trustedCon>div {        
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));        
    }
    .trustedCon>div>h2 {
        font-size: 20px;
        text-align: center;
    }
}