.container {
    font-family: var(--primary-font);
    font-size: 16px;
    padding: 2em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background: #EBE6D9;
    align-items: center;
    gap: 2em;
}

.container>div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 1em;
    grid-template-rows: auto auto;
}

.container>div>article {
    background: #DEDEDE;
    padding: 1em;
}

.container>div>article>img,
.container>div>article>p,
.container>div>article>h3 {
    padding: .2em 0;
}

.container>div>article>h3 {
    font-weight: 700;
    font-size: 20px;
}

.container>div>article>p {
    font-weight: 400;
    font-size: 12px;
}

.container>article>ul {
    margin: 0;
    list-style: none;
    padding: 0;
}