.logo{
      display: flex;
      flex-direction: row-reverse;

}
.navbar{
      background-color: transparent;
      box-shadow: none;
}
.active,.bold{
      font-weight: bold;
      font-size: 17px;
}
.brand{
      color: #085bda;
}
.terry{
      color: red;
}
.firstSection{
      /* margin-left: 24px; */
      /* margin-left: 24px; */
      padding-left: 36px;
      padding-right: 36px;
      
      background-image: linear-gradient(to right, #E6EBF3 , #84ADEC);
          
}
.electrician{
      height: 500px;
      width: auto;
      
      float: right;
}

.leftSection{
      display: flex;
      flex-direction: column;
      float: right;
      
      
      
      justify-content: center;
}


@media (min-width: 320px) and (max-width: 480px) {
      .bold{
            font-size: 15px;
      }
  
      /* CSS */
      
    }
    @media (min-width: 768px) and (max-width: 1024px) {
  
      .electrician{
            width: 400px;
            
      }
      
    }