.sidebar{
    position: fixed;
    z-index: 50;
    top: 0;
    background: #085BDA;
    height: 100vh;  
    width: 369px;  
    display: flex;
    flex-direction: column;    
    align-items: center;
}

a{
    text-decoration: none;
}
.sidebar .sidebar-header{
    padding: 40px 50px;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar-menu .sidebar-menu-item{
    display: flex;
    padding: 0px 40px;
    gap: 20px;
    align-items:center;
    margin-top: 20px;
    cursor: pointer;    
}
.sidebar-menu .sidebar-menu-item span{
    font-weight: bold;
}
.inactive{
    color: rgba(255, 255, 255, .6);
}
.active{
    color: white;
    border-right: 5px solid #f2f2f2;
}